/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.button {
	@apply bg-accent text-bodyBold inline-flex items-center gap-3 px-6 py-[0.875rem] text-white transition duration-300 ease-in-out;
}

.button:hover {
	@apply bg-[#CF491C] transition duration-300 ease-in-out;
}

.button_secondary {
	@apply text-textBlack border-lightGrayBg bg-lightGrayBg hover:border-accent hover:text-accent text-bodyBold inline-flex items-center gap-3 border px-6 py-[0.875rem] transition-colors duration-300 ease-in-out;
}

.button_outlined {
	@apply border-accent text-accent text-bodyBold inline-flex items-center gap-3 border-2 bg-white px-6 py-[0.875rem];
}

#site-navigation {
	@apply w-full;
}

.menu-primary-list {
	@apply hidden h-[5rem] w-full items-center gap-8 lg:flex;
}

.menu-primary-list > li {
	@apply border-r-textSecondary flex h-full w-full items-center justify-center border-r font-semibold;
}

.menu-primary-list > li > a {
	@apply hover:text-accent transition-colors duration-300;
}

.mobile-menu-primary-list {
	@apply w-full items-center gap-4 pb-4;
}

.mobile-menu-primary-list > li {
	@apply py-4 font-semibold;
}

.container {
	@apply mx-auto max-w-[1440px] px-5;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply !bg-accent;
}

.swiper-pagination-bullet {
	@apply !bg-lightGray !h-3 !w-3 !opacity-100;
}

.swiper-slide {
	@apply !h-auto;
}

.best-value-package {
	@apply !border-accent;
}

.best-value-minimal-package {
	@apply !border-accent !rounded-t-none;
}

.footer-menu {
	@apply flex flex-col gap-10 lg:gap-5;
}

.footer-menu > li {
	@apply font-medium;
}

.footer-menu > li > a {
	@apply hover:text-accent transition-colors duration-200;
}

.testimonials-swiper {
	@apply !mx-auto w-full !max-w-[58.75rem] !overflow-visible;
}

.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea {
	@apply text-bodyRegular block w-full bg-[#F3F4F4] px-8 py-[1.625rem] text-[#1A1A1A] focus:outline-none disabled:pointer-events-none disabled:opacity-50;
}

.wpcf7-form-control.wpcf7-textarea {
	@apply p-8;
}

.wpcf7-form-control.wpcf7-select {
	@apply bg-inputGray block w-full text-lg font-medium focus:outline-none disabled:pointer-events-none disabled:opacity-50;
}

.wpcf7-form-control.wpcf7-checkbox,
.wpcf7-list-item {
	@apply !ml-0;
}

.wpcf7 label {
	@apply transition-colors duration-300;
}

.wpcf7-checkbox label {
	@apply flex items-center gap-4;
}

.wpcf7-form-control input[type='checkbox'] {
	@apply text-accent !bg-lightGrayBg relative h-[18px] w-[18px] !border-gray-300;
}

.wpcf7-form-control input[type='checkbox']::before {
	@apply bg-lightGrayBg absolute left-0 top-0 h-full w-full border border-gray-300 content-[''];
}

.wpcf7-form-control input[type='checkbox']:checked:before {
	@apply hidden;
}

.wpcf7-acceptance label {
	@apply flex items-center gap-4;
}

.wpcf7-acceptance label a {
	@apply underline;
}

.wpcf7-form {
	@apply flex flex-col gap-1;
}

.wpcf7-form label {
	@apply text-lg font-medium;
}

.wpcf7-form input[type='submit'] {
	@apply text-h5Bold bg-accent inline-flex w-full cursor-pointer items-center gap-3 px-6 py-6 text-white transition-colors duration-300 hover:text-[#FFFFFFCC] lg:py-[2.375rem];
}

.wpcf7-spinner {
	@apply hidden;
}

.wpcf7-form .single-line {
	@apply flex flex-col gap-6 md:flex-row;
}

div.wpcf7-response-output,
div.wpcf7-validation-errors {
	@apply !hidden;
}

.wpcf7-form.invalid {
	@apply gap-6;
}

.wpcf7-not-valid-tip {
	@apply text-bodySmall absolute -bottom-4 text-[#FF4F4F];
}

.wpcf7-form-control-wrap {
	@apply block;
}

.wpcf7-form-control-wrap:has([aria-invalid='true'])::after {
	@apply absolute right-8 top-1/2 z-10 h-6 w-6 -translate-y-1/2 content-[url('./assets/WarningCircle.svg')];
}

.gs {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.6;
	filter: alpha(opacity=60);
	transition: all 0.3s ease;
}

.gs:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
	filter: alpha(opacity=100);
	transition: all 0.3s ease;
}

.with-gradient {
	@apply before:bg-gradientBottom before:absolute before:bottom-[90px] before:left-0 before:block before:h-8 before:w-full before:content-[''];
}

.hide-gradient {
	@apply before:hidden;
}

.arrow-right {
	@apply lg:group-odd:before:border-lightGray lg:group-odd:before:absolute lg:group-odd:before:right-[-40px] lg:group-odd:before:top-[50px] lg:group-odd:before:border-b-[12px] lg:group-odd:before:border-l-[20px] lg:group-odd:before:border-r-[20px] lg:group-odd:before:border-t-[12px] lg:group-odd:before:border-b-transparent lg:group-odd:before:border-r-transparent lg:group-odd:before:border-t-transparent lg:group-odd:before:content-[''];
}

.arrow-left {
	@apply lg:group-even:before:border-lightGray lg:group-even:before:absolute lg:group-even:before:left-[-40px] lg:group-even:before:top-[50px] lg:group-even:before:border-b-[12px] lg:group-even:before:border-l-[20px] lg:group-even:before:border-r-[20px] lg:group-even:before:border-t-[12px] lg:group-even:before:border-b-transparent lg:group-even:before:border-l-transparent lg:group-even:before:border-t-transparent lg:group-even:before:content-[''];
}

.calendly-overlay .calendly-popup {
	@apply !h-[870px] !max-h-[870px];
}

.faq-answer {
	@apply text-textGray;
}

.faq-answer a {
	@apply text-accent hover:text-accentHover transition-colors duration-300;
}

.rich-text a {
	@apply underline;
}
