/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

*,
html {
	@apply !scroll-smooth;
}

body {
	@apply bg-background text-textBlack font-dm;
}

h2 {
	@apply text-[2rem] leading-[35px] font-medium lg:text-5xl lg:leading-[52px] tracking-[-0.02em];
}

h3 {
	@apply text-[1.5rem] leading-[31px] font-medium lg:text-[2rem] lg:leading-[41px];
}

.tippy-close-button {
	@apply absolute top-0 right-0 translate-x-[10px] translate-y-[-10px];
}

.tippy-box[data-theme~="custom"] {
	box-shadow: 5px 5px 30px -5px #012d191a;
	background-color: white;
	color: #272727;
	padding: 22px;
	white-space: break-spaces;
	width: 300px;
}

.tippy-box[data-theme~="custom"][data-placement^="top"] > .tippy-arrow::before {
	border-top-color: white;
}
.tippy-box[data-theme~="custom"][data-placement^="bottom"]
	> .tippy-arrow::before {
	border-bottom-color: white;
}
.tippy-box[data-theme~="custom"][data-placement^="left"]
	> .tippy-arrow::before {
	border-left-color: white;
}
.tippy-box[data-theme~="custom"][data-placement^="right"]
	> .tippy-arrow::before {
	border-right-color: white;
}

.tippy-box[data-theme~="custom"] > .tippy-svg-arrow {
	fill: white;
}
