/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

body {
	@apply bg-background text-mainBlack font-dm antialiased;
}

.tippy-close-button {
	@apply absolute right-0 top-0 translate-x-[10px] translate-y-[-10px];
}

.tippy-box[data-theme~='custom'] {
	@apply shadow-testimonial text-textBlack bg-lightGrayBg w-[300px] whitespace-break-spaces p-4 lg:p-[22px];
}

.tippy-box[data-theme~='custom'][data-placement^='top'] > .tippy-arrow::before {
	border-top-color: #f8f8fa;
}
.tippy-box[data-theme~='custom'][data-placement^='bottom']
	> .tippy-arrow::before {
	border-bottom-color: #f8f8fa;
}
.tippy-box[data-theme~='custom'][data-placement^='left']
	> .tippy-arrow::before {
	border-left-color: #f8f8fa;
}
.tippy-box[data-theme~='custom'][data-placement^='right']
	> .tippy-arrow::before {
	border-right-color: #f8f8fa;
}

.tippy-box[data-theme~='custom'] > .tippy-svg-arrow {
	fill: #f8f8fa;
}

.container {
	@apply px-6 lg:!px-[1.25rem];
}
